<div class="login-container d-flex justify-content-center align-items-center">
  <div class="form-wrapper" [formGroup]="loginForm">
    <div class="title text-center">Welcome!</div>
    <div class="input-row">
      <div class="float-label-wrapper w-100 position-relative">
        <span #forEmail class="float-label position-absolute" (click)="email.focus()">Email</span>
        <span class="material-icons position-absolute">email</span>
        <input
          #email
          formControlName="email"
          class="w-100"
          type="text"
          placeholder="Your email"
          (change)="updateLabel($event, forEmail)"
        />
        <span class="custom-error" *ngIf="loginForm.controls.email.dirty || loginForm.controls.email.touched">
          {{ loginForm.controls.email.errors?.message }}
        </span>
      </div>
    </div>

    <div class="input-row">
      <div class="float-label-wrapper w-100 position-relative">
        <span #forPassword class="float-label position-absolute" (click)="password.focus()">Password</span>
        <span class="material-icons position-absolute">lock</span>
        <input
          #password
          formControlName="password"
          class="w-100"
          type="password"
          placeholder=""
          (change)="updateLabel($event, forPassword)"
        />
        <span class="custom-error" *ngIf="loginForm.controls.password.dirty || loginForm.controls.password.touched">
          {{ loginForm.controls.password.errors?.message }}
        </span>
      </div>
    </div>

    <div class="actions">
      <button mat-raised-button class="action-button w-100" (click)="handleLogin()">Login</button>
    </div>
  </div>
</div>
