<div class="header-container d-flex justify-content-between align-items-center">
  <div class="left d-flex">
    <a
      class="header-link d-flex flex-column align-items-center"
      *ngFor="let r of routers"
      [routerLink]="['/' + r.link]"
    >
      <span class="material-icons"> {{ r.icon }} </span>
      <span class="link-value d-inline-block">{{ r.value }}</span>
    </a>
  </div>
  <div class="right d-flex">
    <button mat-icon-button><span class="material-icons"> menu </span></button>
  </div>
</div>
